- name: Run MongoDB container
  community.docker.docker_container:
    name: "{{ mongodb_container_name }}"
    image: mongo:6.0
    state: started
    restart_policy: always
    published_ports:
      - "{{ mongodb_port }}:27017"
    networks:
      - name: "{{ docker_network_name }}"