- name: Set up YOLO e-commerce platform
  hosts: localhost
  become: true
  
  vars:
    docker_network_name: yolo_network  # <-- Added here

  vars_files:
    - ./vars/main.yml

  pre_tasks:
    - name: Add GitHub to known_hosts
      known_hosts:
        name: github.com
        key: "{{ lookup('pipe','ssh-keyscan github.com') }}"
        path: /home/vagrant/.ssh/known_hosts
      tags: pre_setup

    - name: Remove old app folder if it exists
      file:
        path: "{{ app_dir }}/yolo"
        state: absent
      tags: pre_setup

    - name: Clone full YOLO repo
      git:
        repo: "{{ github_repo }}"
        dest: "{{ app_dir }}/yolo"
        version: "master"
        force: yes
        update: yes
      environment:
        GIT_SSH_COMMAND: "ssh -i /home/vagrant/.ssh/id_ed25519 -o StrictHostKeyChecking=no"
      tags: pre_setup

  roles:
    - role: docker
      tags: docker

    - role: mongodb
      tags: mongodb

    - role: backend
      tags: backend

    - role: frontend
      tags: frontend