- name: Build frontend Docker image
  community.docker.docker_image:
    name: "{{ frontend_image }}"
    build:
      path: "{{ frontend_path }}"
    source: build

- name: Run frontend container
  community.docker.docker_container:
    name: "{{ frontend_container }}"
    image: "{{ frontend_image }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network_name }}"
    published_ports:
      - "3000:80"  # assuming Nginx serves frontend on 80
      