- name: Run MongoDB container
  community.docker.docker_container:
    name: "{{ mongodb_container }}"
    image: "{{ mongodb_image }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network_name }}"
    published_ports:
      - "{{ mongodb_port }}:27017"